<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/stile.css">
        <title>Home Page</title>
    </head>
    <body>
        <div class="container">
            <h1>Benvenuto nel sistema di gestione dei visitatori!</h1>
            <table class="table">
                <tr><td><a href="/biglietti" class="button-link">Crea Biglietto</a></td></tr>
                <tr><td><a href="/visite-guidate" class="button-link">Crea Visita Guidata</a></td></tr>
                <tr><td><a href="/interessi" class="button-link">Gestisci Interessi</a></td></tr>
                <tr><td><a href="/area-utente" class="button-link">Area Utenti</a></td></tr>
            </table>
        </div>
    </body>
</html>
