<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Interessi</title>
    </head>
    <body>
        <h1>Interessi</h1>
        <p th:text="${message}"></p>
        <ul>
            <li th:each="interesse : ${interessi}">
            <span th:text="${interesse.nome}"></span>
            </li>
        </ul>
        <form action="/api/interessi" method="post">

            <button type="submit">Aggiungi Interesse</button>
        </form>
        <a href="/">Torna alla home</a>
    </body>
</html>
